.err-msg{
    color: tomato;
    font-style: inherit;
    font-kerning: 20px ;
}
body{
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-size: 4rem
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input{
    display: block;
}
input[type=text]{
    border-radius: 7px;
    border: none;
    font-size: 1.5rem;
    width: 750px;
    height: 3rem;
    outline: none;
    padding: 15px 10px;
}
input[type=submit]{
    border-radius: 7px;
    border: none;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    background: linear-gradient(to right,rgb(246, 108, 23),rgb(247, 9, 88));
    width: 150px;
    height: 3rem;
    padding: 15px 10px;
    box-shadow: 5px 2px rgba(0, 0, 0, 10%) 5px 2px rgba(0, 0, 0, 10%) 1.5px 2px rgba(0, 0, 0, 10%);
}
a{
    color: rgb(246, 108, 23);
    font-size: 1.5rem;
}
